@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700);header {
    background-color: rgb(245, 244, 244);
    width: 100%;
    height: 120px;
}

.logo {
    display: inline-block;
    margin-left: 44px;
    margin-top: 29px;
    float: left;
}

.menu-header {
    display: -webkit-flex;
    display: flex;
    width: 50vw;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    margin-right: 51px;
    min-width: 500px;
}

.menu-header a {
    word-wrap: normal;
    text-decoration: none;
    font-size: 16px;
    font-family: "Segoe UI";
    color: rgb(65, 60, 60);
    line-height: 1.2;
    text-align: left;
    text-transform: uppercase;
        transition: color 0.2s;
    -webkit-transition: color 0.2s;
}
.menu-header a:hover{
    color:rgb(248,102,119);
}body {
    width: 100%;
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 30px;
    font-family: "Myriad Pro";
    color: rgb(62, 52, 52);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-top: 50px;
}
html{
    scroll-behavior: smooth;
}.super-cours-container {
    width: 100%;
    height: 81vh;
    background: linear-gradient(40deg, rgb(237, 237, 237) 10%, rgb(163, 208, 195) 10%, rgb(163, 208, 195) 80%, rgb(237, 237, 237) 80%, rgb(237, 237, 237) 100%);
}


.flex-container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.super-cours-text h3 {
    font-size: 36px;
    font-family: "Segoe UI";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: left;
    font-weight: 300;
    padding: 0;
    margin: 0;
}

.super-cours-text p {
    font-size: 18px;
    font-family: "Segoe UI";
    color: rgb(255, 255, 255);
    line-height: 1.333;
    text-align: left;
    width: 527px;
    height: 110px;
    padding: 0;
    margin: 0;
}
.cours-container{
    padding-bottom: 60px;
}

/*card*/

.cours {
    display: flex;
    justify-content: space-between;
    max-width: 910px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}

.cours-card {
    width: 292px;
    height: 417px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 50px 4px #e5e2e2;
    border-radius: 4px;
}

.cours-card-button {
    width: 205px;
    height: 48px;
    background-color: rgb(51, 205, 163);
    border-radius: 24px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    font-size: 16px;
    font-family: "Myriad Pro";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    cursor: pointer;
}

.card-price-text {
    font-size: 18px;
    font-family: "Segoe UI";
    color: rgb(62, 52, 52);
    line-height: 1.2;
    text-align: Center;
    position: absolute;
}

.card-price {
    font-size: 50px;
    font-family: "Segoe UI";
    color: rgb(62, 52, 52);
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
}

/*memo*/

.cours-memo {
    max-width: 527px;
}

.memo-number {
    font-size: 120px;
    font-family: "Constantia";
    color: rgba(163, 208, 195, 0.2);
    font-style: italic;
    line-height: 1.2;
    text-align: left;
    position: relative;
    top: -30px;
    z-index: 10;
    margin: 0;
    padding: 0;
}

.cours-memo h4 {
    font-size: 24px;
    font-family: "Myriad Pro";
    color: rgb(0, 0, 0);
    line-height: 1.2;
    text-align: left;
    position: relative;
    top: -127px;
    left: 5px;
    z-index: 19;
}

.cours-memo p{
  font-size: 16px;
  font-family: "Segoe UI";
  color: rgba(0, 0, 0, 0.851);
  line-height: 1.5;
  text-align: left;
  position: relative;
    top: -100px;
}
.cours-memo img{
    border:1px dashed black;
    border-radius: 2px;
    padding: 15px;
    padding-left: 30px;
    padding-right: 50px;
    position: relative;
    top:-80px;
}
.fourStepImg{
    width: 60%;
    margin-left: 20%;
    margin-top: 10vh;
}
.foursteps-container{
    padding-top: 20px;
    background-color: rgb(248,248,248);
    padding-bottom: 100px;
}.teachers{
    padding-top: 30px;
    padding-bottom: 40px;
}
.teachers-container {
    display: flex;
    justify-content:center;
}
.teacher {
    width: 250px;
    height: 350px;
    text-align: center;
}

.teacher img {
    width: 60%;
    margin-top: 40px;
}

.teacher-name {
    font-size: 18px;
    font-family: "Segoe UI";
    color: rgb(62, 52, 52);
    line-height: 1.2;
    font-weight: 600;
    display: inline-block;
    margin-top: 20px;
}

.teacher-name-line {
    width: 47px;
    border-bottom: 2px solid rgb(51, 205, 163);
    display: inline-block;
    margin-top: 20px;
}

.teacher-job {
    font-size: 18px;
    font-family: "Segoe UI";
    color: rgb(62, 52, 52);
    line-height: 1.2;
    text-align: center;
    display: inline-block;
    margin-top: 20px;
}
@font-face {
    font-family: 'WebSymbolsRegular';
    src: url('http://html5css3demos.bplaced.net/css3-slider-v3/websymbols-regular-webfont.eot');
    src: url('http://html5css3demos.bplaced.net/css3-slider-v3/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'), url('http://html5css3demos.bplaced.net/css3-slider-v3/websymbols-regular-webfont.woff') format('woff'), url('http://html5css3demos.bplaced.net/css3-slider-v3/websymbols-regular-webfont.ttf') format('truetype'), url('http://html5css3demos.bplaced.net/css3-slider-v3/websymbols-regular-webfont#WebSymbolsRegular') format('svg');
}
#slider-container {
    width: 100%;
    background-color: rgb(194, 234, 217);
    padding-top: 20px;
    padding-bottom: 70px;
}

#slideshow-wrap {
    display: block;
    height: 320px;
    min-width: 260px;
    max-width: 774px;
    margin: auto;
    margin-top: 20px;
    position: relative;
    width: auto;
}

#slideshow-inner {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    position: relative;
}

#slideshow-inner > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;
    width: 500%;
    overflow: hidden;
    position: relative;
    left: 0px;
    -webkit-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
    transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
}

#slideshow-inner > ul > li {
    width: 20%;
    height: 320px;
    float: left;
    position: relative;
    background-color: white;
}

#slideshow-inner > ul > li > img {
    height: 100%;
    display: inline-block;
    margin-right: 20px;
}

#slideshow-inner > ul > li > p {
    width: auto;
    max-width: 443px;
    display: inline-block;
    padding: 0;
    margin: 0;
    vertical-align: top;
    font-size: 18px;
    font-family: "Segoe UI";
    color: rgb(0, 0, 0);
    line-height: 1.333;
    text-align: left;
    font-weight: 100;
    margin-top: 20px;
}

.review-name {
    font-size: 18px;
    font-family: "Segoe UI";
    color: rgb(62, 52, 52);
    line-height: 1.2;
    text-align: left;
    max-width: 443px;
    display: inline-block;
    font-weight: 600;
    margin-top: 30px;
}

.review-job {
    font-size: 18px;
    font-family: "Segoe UI";
    color: rgba(62, 52, 52, 0.639);
    line-height: 1.2;
    text-align: left;
    width: 186px;
    height: 18px;
    max-width: 443px;
    display: inline-block;
    margin-top: 10px;
}

#slideshow-wrap input[type=radio] {
    position: absolute;
    left: 50%;
    bottom: 15px;
    z-index: 100;
    visibility: hidden;
}

#slideshow-wrap label:not(.arrows):not(.show-description-label) {
    position: absolute;
    left: 50%;
    bottom: -45px;
    z-index: 100;
    width: 12px;
    height: 12px;
    background-color: rgba(200, 200, 200, 1);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, .8);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, .8);
    -webkit-transition: background-color .2s;
    -moz-transition: background-color .2s;
    -o-transition: background-color .2s;
    transition: background-color .2s;
}

#slideshow-wrap label:not(.arrows):active {
    bottom: -46px
}

#slideshow-wrap input[type=radio]#button-1:checked ~ label[for=button-1] {
    background-color: rgba(100, 100, 100, 1)
}

#slideshow-wrap input[type=radio]#button-2:checked ~ label[for=button-2] {
    background-color: rgba(100, 100, 100, 1)
}

#slideshow-wrap input[type=radio]#button-3:checked ~ label[for=button-3] {
    background-color: rgba(100, 100, 100, 1)
}

#slideshow-wrap input[type=radio]#button-4:checked ~ label[for=button-4] {
    background-color: rgba(100, 100, 100, 1)
}

#slideshow-wrap input[type=radio]#button-5:checked ~ label[for=button-5] {
    background-color: rgba(100, 100, 100, 1)
}

#slideshow-wrap label[for=button-1] {
    margin-left: -36px
}

#slideshow-wrap label[for=button-2] {
    margin-left: -18px
}

#slideshow-wrap label[for=button-4] {
    margin-left: 18px
}

#slideshow-wrap label[for=button-5] {
    margin-left: 36px
}

#slideshow-wrap input[type=radio]#button-1:checked ~ #slideshow-inner > ul {
    left: 0
}

#slideshow-wrap input[type=radio]#button-2:checked ~ #slideshow-inner > ul {
    left: -100%
}

#slideshow-wrap input[type=radio]#button-3:checked ~ #slideshow-inner > ul {
    left: -200%
}

#slideshow-wrap input[type=radio]#button-4:checked ~ #slideshow-inner > ul {
    left: -300%
}

#slideshow-wrap input[type=radio]#button-5:checked ~ #slideshow-inner > ul {
    left: -400%
}

label.arrows {
    font-family: 'WebSymbolsRegular';
    font-size: 60px;
    color: rgb(255, 255, 240);
    position: absolute;
    top: 50%;
    margin-top: -25px;
    display: none;
    opacity: 0.7;
    font-weight: 600;
    cursor: pointer;
    z-index: 1000;
    background-color: transparent;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, .8);
}

label.arrows:hover {
    opacity: 1
}

label.arrows:active {
    margin-top: -23px
}

input[type=radio]#button-1:checked ~ .arrows#arrow-2,
input[type=radio]#button-2:checked ~ .arrows#arrow-3,
input[type=radio]#button-3:checked ~ .arrows#arrow-4,
input[type=radio]#button-4:checked ~ .arrows#arrow-5 {
    right: -55px;
    display: block;
}

input[type=radio]#button-2:checked ~ .arrows#arrow-1,
input[type=radio]#button-3:checked ~ .arrows#arrow-2,
input[type=radio]#button-4:checked ~ .arrows#arrow-3,
input[type=radio]#button-5:checked ~ .arrows#arrow-4 {
    left: -55px;
    display: block;
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
}

input[type=radio]#button-2:checked ~ .arrows#arrow-1 {
    left: -19px
}

input[type=radio]#button-3:checked ~ .arrows#arrow-2 {
    left: -37px
}

input[type=radio]#button-5:checked ~ .arrows#arrow-4 {
    left: -73px
}.form-container {
    text-align: center;
    padding-bottom: 60px;
}

form p {
    font-size: 16px;
    font-family: "Segoe UI";
    color: rgb(0, 0, 0);
    line-height: 1.2;
    font-weight: 100;
    margin-top: 30px;
}

form input[type="text"] {
    width: 500px;
    height: 50px;
    margin-bottom: 30px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid rgb(228, 228, 228);
    color: rgb(228, 228, 228);
}

form input[type="text"]::placeholder {
    font-size: 16px;
    font-family: "Segoe UI";
    color: rgba(0, 0, 0, 0.302);
    line-height: 1.2;
    text-align: left;
    font-weight: 600;
}

form input[type="email"] {
    width: 500px;
    height: 50px;
    margin-bottom: 30px;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid rgb(228, 228, 228);
    border-radius: 5px;
}

form input[type="email"]::placeholder {
    font-size: 16px;
    font-family: "Segoe UI";
    color: rgba(0, 0, 0, 0.302);
    line-height: 1.2;
    text-align: left;
    font-weight: 600;
}

form input[type="tel"] {
    width: 500px;
    height: 50px;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid rgb(228, 228, 228);
    border-radius: 5px;
    margin-bottom: 30px;
}

form input[type="tel"]::placeholder {
    font-size: 16px;
    font-family: "Segoe UI";
    color: rgba(0, 0, 0, 0.302);
    line-height: 1.2;
    text-align: left;
    font-weight: 600;
}

form input[type="submit"] {
    width: 203px;
    height: 48px;
    background-color: rgb(249, 133, 146);
    border: none;
    border-radius: 50px;
    font-size: 16px;
    font-family: "Myriad Pro";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
}
footer {
    min-height: 318px;
    background-color: rgb(83, 83, 83);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 40px;
    box-sizing: border-box;
}

.footer-subscribe {
    text-align: center;
}

.subscribe {
    font-size: 36px;
    font-family: "Segoe UI";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: left;
}

.socials a {
    margin: 0 5px;
}

.socials a img {
    margin: 10px 0;
    transition: transform 0.2s;
    -webkit-transition: -webkit-transform 0.2s;
}

.socials a img:hover {
    transform: scale(1.1);
}

.subscribe-email {
    font-size: 18px;
    font-family: "Segoe UI";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: left;
    font-weight: 100;
}

.subscribe-phone {
    display: inline-block;
    margin-top: 5px;
    font-size: 18px;
    font-family: "Segoe UI";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: left;
    font-weight: 100;
}

.footer-menu ul {
    list-style: none;
}

.footer-menu ul li a {
    font-size: 16px;
    font-family: "Segoe UI";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: left;
    text-decoration: none;
    transition: color 0.2s;
    -webkit-transition: color 0.2s;
}

.footer-menu ul li a:hover {
    color: rgb(248, 102, 119);
}

.footer-menu ul li {
    margin-bottom: 5px;
}
@media screen and (max-width: 700px) {
    header{
        height: 200px;
    }
    .logo img{
        width: 50vw;
    }
    .menu-header{
        flex-direction: column;
        min-width: 110px;
        width: 150px;
        float: right;
    }
    .flex-container{
        flex-direction: column;
    }
    .super-cours-text h3{
        color: black;
        width: auto;
        padding: 20px;
    }
    .super-cours-text p{
        color: black;
        width: auto;
        padding: 20px;
    }
    .super-cours-container{
        height: 100vh;
    }
    .super-cours-img{
        padding: 20px;
    }
    .cours{
        flex-direction: column-reverse;
        align-items: center;
    }
    .cours-revers{
        flex-direction: column;
        align-items: center;
    }
    .foursteps-container{
        height: 0;
        visibility:hidden;
    }
    .teachers-container{
        flex-direction: column;
        align-items: center;
    }
    #slideshow-wrap{
        width: 500px;
    }
    #slideshow-inner > ul > li > p{
        width: 250px;
        font-size: 15px;
    }
}
